body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header,
#play-area,
#rounds,
#player-choice,
#results {
    display: flex;
}

#header {
    min-height: 100px;
    align-items: center;
    background-color: rgb(54, 54, 54);
    font-size: 30px;
    color: rgb(0, 160, 0);
}

#header,
#play-area,
#rounds,
#player-choice {
    justify-content: center;
}

#play-area {
    background-color: black;
    flex-direction: column;
    min-height: 75px;
    /* align-items: center; */
    gap: 15px;
    padding: 10px;
}

#rounds,
#player-choice {
    /* flex-basis: 100px; */
}

#rounds {
    gap: 10px;
}

#player-choice {
    gap: 12px;
}

#results {
    flex-direction: column;
    background-color: black;
    flex-grow: 1;
    color: rgb(21, 253, 0);
    padding: 20px 20% 20px 20%;
    font-family: monospace;
}

#results p {
    margin: 5px 0px 5px 0px;

}